<html>
<head>
<title> This is my chef class </title>
</head>
<body bgcolor=red>

<h1> This is our chef attributes <%=node['learn_chef_httpd’]['greeting'] %></h1>

<% node['learn_chef_httpd']['default'].each do |key, value| -%>
    <% unless value.empty? -%>
        <%= key %>=<%= value %>
    <% end %>
<% end %>

<table>
<tr>
<td> Col1 </td>
<td> col2 </td>
</tr>
</table>
</body>
</html>
