<html>
<head>
<title> This is my chef class </title>
</head>
<body bgcolor=red>

<h1> This is our chef attributes <%=node['learn_chef_httpd’]['greeting'] &></h1>


<table>
<tr>
<td> Col1 </td>
<td> col2 </td>
</tr>
</table>
</body>
</html>